# Ignore git and cache files
.git
.gitignore
.github
*/.git
**/.gitignore

# Ignore node modules
**/node_modules

# Ignore Next.js build output
**/.next

# Ignore test files
app/src/__tests__
**/*.test.*
**/*.spec.*
jest.config.js
coverage

# Ignore development files
.editorconfig
**/.vscode
**/.idea
.dockerignore
.env.local
.env.*.local

# Ignore Docker files
Dockerfile*
docker-compose*
.docker

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
